[submodule "src/server/lib/cuBoF"]
	path = src/server/lib/cuBoF
	url = https://github.com/danielsuo/cuBoF
[submodule "src/server/lib/cuSIFT"]
	path = src/server/lib/cuSIFT
	url = https://github.com/danielsuo/cuSIFT
[submodule "src/server/lib/readerwriterqueue"]
	path = src/server/lib/readerwriterqueue
	url = https://github.com/danielsuo/readerwriterqueue
[submodule "src/server/lib/json"]
	path = src/server/lib/json
	url = https://github.com/danielsuo/json
[submodule "src/server/lib/curlcpp"]
	path = src/server/lib/curlcpp
	url = https://github.com/JosephP91/curlcpp
