# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Vendor library files
vendor

# OS X crud
.DS_Store

# XCode crud
*.xcuserstate
*.xccheckout
xcuserdata
Build
Pods
Podfile.lock

# MatLab crud
*~

# Archive crud
*.zip
*.tar
*.tar.gz
*.gz

# Node crud
node_modules
*.log

# Binary directories
bin

# Image data
image_data

# Emacs crud
*#
*.#*
vlfeat

# reconstruction GPU
CMakeFiles
ba2D3D*
CMakeCache.txt
*.cmake
log.txt

# GNU Global
GPATH
GRTAGS
GSYMS
GTAGS
